@import "tailwindcss";

@font-face {
  font-family: 'Amoria';
  src: url(./fonts/AMORIA.otf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
    --font-amoria: 'Amoria', sans-serif;
}