@import "tailwindcss";

@font-face {
  font-family: 'Amoria';
  src: url(./fonts/AMORIA.otf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Brand';
  src: url(./fonts/Brand.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
    --font-amoria: 'Amoria', sans-serif;
    --font-brand: 'Brand', sans-serif;
}
